body {
  background-color:white;
  color:black;
	.fa {
    font-size: 2em;
    width: 2em;
    height: 2em;
    text-align: center;
  }
}

.dark-mode {
  background-color: black;
  color: white;
}

.header {
  padding: 20px;
  text-align: center;
  font-size: 30px;
}

img {
  width: 80%;
  border-radius:15px;
  outline: 1px solid rgba(255, 255, 255, .2);
  outline-offset: -1px;
}

.masonry {
	column-count: 4;
	column-gap: 16px;
  margin: 0 auto;
  width:100%;
  margin-top: 20px;
}

.masonry .mItem {
  display: inline-block;
  margin-bottom: 16px;
  width: 100%;
}

@media (max-width: 1199px) {
  .masonry {
    column-count: 3;
  }
}

@media (max-width: 991px) {
  .masonry {
    column-count: 2;
  }
}

@media (max-width: 767px) {
  .masonry {
    column-count: 1;
  }
}

.checkbox-wrapper-22 .switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.checkbox-wrapper-22 .switch input {
  display:none;
}

.checkbox-wrapper-22 .slider {
  background-color: #D1D1D6;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.checkbox-wrapper-22 .slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

.checkbox-wrapper-22 input:checked + .slider {
  background-color: #30D158;
}

.checkbox-wrapper-22 input:checked + .slider:before {
  transform: translateX(26px);
}

.checkbox-wrapper-22 .slider.round {
  border-radius: 34px;
}

.checkbox-wrapper-22 .slider.round:before {
  border-radius: 50%;
}

// Brand Colors
@fa-twitter: #1DA1F2;
@fa-github: #333;
@fa-reddit: #ff4500;
@fa-envelope: #1679f2;
@fa-paypal: #3b7bbf;

.fa {
  // Default color for undefined
  color: #efefef;
  &.fa-twitter {
    color: @fa-twitter;
  }
  &.fa-github {
    color: @fa-github;
  }
  &.fa-reddit {
    color: @fa-reddit;
  }
  &.fa-envelope {
    color: @fa-envelope;
  }
  &.fa-paypal {
    color: @fa-paypal;
  }
}
