body {
  align-items: center;
  font-family: sans-serif;
  text-align:center;
  padding: 25px;
}

@media (prefers-color-scheme: light) {
  .body {
      background:#fff;
      color:#000;
  }
}

@media (prefers-color-scheme: dark) {
  .body {
      background:#000;
      color:#fff;
  }
}

.header {
  padding: 20px;
  text-align: center;
  font-size: 30px;
}

img {
    width:100%;
    border-radius:20px;
}

.masonry {
	column-count: 3;
	column-gap: 8px;
  margin: 0 auto;
  width:100%;
  align-items: center;
}

.masonry .mItem {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
}

@media (max-width: 991px) {
  .masonry {
    column-count: 2;
  }
}

@media (max-width: 767px) {
  .masonry {
    column-count: 1;
  }
}

.caption_center_footer {
  margin-top:60px;
  width:400px;
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
  text-align: center;
}
