html,
body {
  background-color: #000;
  height: 100%;
  width: 100%;
  align-items: center;
  font-family: sans-serif;
  color: #fff;
}

.dark-mode {
  background-color: #fff;
  color: #000;
}

@media (prefers-color-scheme: dark) {
  .body, html {
    background: #000;
    color: #fff;
  }
}

.header {
  padding: 20px;
  text-align: center;
  font-size: 30px;
}

img {
  width: 90%;
}

.masonry {
	column-count: 4;
	column-gap: 8px;
  margin: 0 auto;
  width:80%;
  margin-top: 20px;
}

.masonry .mItem {
  display: inline-block;
  margin-bottom: 20px;
  width: 90%;
}

@media (max-width: 1199px) {
  .masonry {
    column-count: 3;
  }
}

@media (max-width: 991px) {
  .masonry {
    column-count: 2;
  }
}

@media (max-width: 767px) {
  .masonry {
    column-count: 1;
  }
}

.checkbox-wrapper-22 {
  margin-top:20px;
  margin-left:20px;
}

.checkbox-wrapper-22 .switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.checkbox-wrapper-22 .switch input {
  display:none;
}

.checkbox-wrapper-22 .slider {
  background-color: #D1D1D6;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.checkbox-wrapper-22 .slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

.checkbox-wrapper-22 input:checked + .slider {
  background-color: #30D158;
}

.checkbox-wrapper-22 input:checked + .slider:before {
  transform: translateX(26px);
}

.checkbox-wrapper-22 .slider.round {
  border-radius: 34px;
}

.checkbox-wrapper-22 .slider.round:before {
  border-radius: 50%;
}
