@font-face {
    font-family: 'SFProDisplay';
    src: url('https://nahtedetihw.github.io/wallpapers/fonts/SFProDisplay.woff2') format('woff2'),
         url('https://nahtedetihw.github.io/wallpapers/fonts/SFProDisplay.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
